# Architecture
BR2_aarch64=y
BR2_ARCH="aarch64"
BR2_ENDIAN="LITTLE"

# Toolchain
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

# System configuration
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

# Target packages
BR2_PACKAGE_BUSYBOX=y

# Graphic libraries
BR2_PACKAGE_LIBDRM=y

# NAmiOS components
BR2_PACKAGE_NAMIOS_GRAPHICS_LIB=y
BR2_PACKAGE_NAMIOS_INPUT_LIB=y
BR2_PACKAGE_NAMIOS_COMPOSITOR=y

# Filesystem overlay
BR2_ROOTFS_OVERLAY="../overlay"